#table tfoot {
    display: table-header-group;
}
.dataTables_filter, .dataTables_info {
  display: none;
}
#table thead.buscador-contacto {
  margin-bottom:20rem;
}
#table thead.buscador-contacto tr th:nth-child(2) {
  text-align:right;
  vertical-align:middle;
  color:#3e8ed5;
}
#table .dt-filter-text input {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: solid 1px #ccc;
}
#table .dt-filter-select select{
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: solid 1px #ccc;
}
#table tbody{
  padding:0 20px;
  background:#fff;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.3);
}
#table tr.header-tabla-contacto {
    vertical-align: middle !important;
    border: 0px solid #ddd !importat;
}
#table tr.header-tabla-contacto th{
    text-align:center;
}