@import url(https://fonts.googleapis.com/css?family=Audiowide);
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
body {
  background: radial-gradient(ellipse farthest-side at 100% 100%, #d4faf6 1%, #85d8ce 30%, #085078 120%);
  background-attachment: fixed;
  padding-top: 2em;
  overflow-y: scroll;
}

.wrap {
  display: block;
  max-width: 1024px;
  margin: 0 auto 2em;
  padding: 0 1em;
  width: 100%;
}
@media (min-width: 43.75em) {
  .wrap {
    padding: 3em;
  }
}

p {
  color: #555;
  text-shadow: 1px 1px 1px #fff;
}

a,
a:visited {
  color: #0400ff;
  text-decoration: none;
}

.question-section {
  background: #ebfdfb;
  box-shadow: 0 2px 5px rgba(68, 68, 68, 0.4);
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
  vertical-align: top;
  width: 100%;
}
@media (min-width: 50em) {
  .question-section {
    font-size: 0.75rem;
    padding: 1em 1.5em;
  }
}
@media (min-width: 62.5em) {
  .question-section {
    font-size: 1rem;
  }
}
.question-section h1 {
  font-family: "Audiowide", cursive;
  color: #085078;
  font-size: 1.25em;
  font-size: 5.5vw;
  font-weight: 700;
  margin-bottom: 0.25em;
}
@media (min-width: 32.25em) {
  .question-section h1 {
    font-size: 2.25em;
    font-size: 4.9vw;
  }
}
@media (min-width: 67.5em) {
  .question-section h1 {
    font-size: 3.25em;
  }
}
.question-section > p, .question-section > h1 {
  text-align: center;
}
.question-section > p {
  font-size: 0.667em;
  font-size: 2.8vw;
  margin-bottom: 1em;
}
@media (min-width: 22.1875em) {
  .question-section > p {
    font-size: 0.667em;
  }
}
@media (min-width: 31.25em) {
  .question-section > p {
    font-size: 1em;
  }
}
@media (min-width: 81.25em) {
  .question-section > p {
    font-size: 1.15em;
  }
}

div[class^="cat"] {
  width: 100%;
}
div[class^="cat"] > label {
  background: #9ef5eb;
  color: rgb(61, 61, 61);
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.5em;
  padding: 0.75em 0.5em;
  transition: all 0.55s;
}
div[class^="cat"] > label:hover {
  background: #85d8ce;
}
@media (min-width: 50em) {
  div[class^="cat"] > label {
    font-size: 1.25em;
  }
}
div[class^="cat"] > input {
  position: absolute;
  z-index: -999;
}
div[class^="cat"] > input:focus + label {
  background: #4bc5b7;
  letter-spacing: 1px;
}
div[class^="cat"] .question-wrap {
  height: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
}
div[class^="cat"] > input:checked ~ .question-wrap {
  max-height: 1000px;
  opacity: 1;
  transition: all 1.95s cubic-bezier(0.19, 1, 0.22, 1);
}
.question-wrap .question {
  margin: 1em 0;
}
.question-wrap label {
  color: #0a6090;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}
@media (min-width: 50em) {
  .question-wrap label {
    font-size: 1.25em;
  }
}
.question-wrap input {
  position: absolute;
  z-index: -999;
  top: -10000px;
}
.question-wrap input:focus + label {
  color: #064060;
}
.question-wrap input:not(:checked) ~ p {
  height: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.question-wrap input:checked ~ p {
  max-height: 500px;
  opacity: 1;
  transition: all 1.95s cubic-bezier(0.19, 1, 0.22, 1);
}

input:focus {
  border: 3px solid red;
  outline: 3px solid red;
  background: red;
}

a:focus {
  color: #085078;
  font-weight: bold;
  outline: none;
}










body{
  text-align: center;
  padding-top: 20px;
}

.boton{
      text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
			text-align:center;
			text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
			color: #FFF;
			background: #7F8C8D;
			padding: 7px 20px;
			white-space: nowrap;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 100px;
			margin: 10px 5px;
			-webkit-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
   
.azul{
  background: #3498DB;
  box-shadow: 0px 5px 0px 0px #2980B9;
}

.azul:hover{
  background: #54ade9;
}

.azul:active{
  box-shadow: 0px 2px 0px 0px #000000;
}
